.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .App-logo {
    margin: 3rem 0;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$dark: #555;
$color--primary: aqua;


.transition {
   transition: all .4s ease-in-out;
}


body {
  text-align: center;
}

.selectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: 6px;
  .label {
    width: 5rem;
    min-width: 5rem;
  }
  .list {
    text-align: left;
    position: absolute;
    font-size: 20px;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
    height: 10rem;
    overflow-y: auto;
    &.visible {
      display: block;
    }

  }
  .variants, .placeholder {
    background: none;
    outline: none;
    border: none;
    padding: unset;
    font-size: 20px;
    transition: all .4s;
    margin: unset;
    text-align: inherit;
    color: $color--primary;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 0;
      left: 0;
      background: lighten($color--primary, 20%);
      bottom: 0;
      transition: all .4s ease-out;
    }
    &:hover {
      cursor: pointer;
      color: lighten($color--primary, 20%);
      &:after {
        width: 100%;
      }
    }
  }
  .submitButton {
    margin-left: 1rem;
  }
}



.placeholder {
  //visibility: hidden;
  //position: fixed;
  border-bottom: 4px solid;
  cursor: pointer;
  white-space: pre;
  &:hover {
    color: lighten($dark, 20%);
  }
}

.brk-btn {
  outline: none;
  margin: unset;
  position: relative;
  background: none;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}

.nextButton {
  margin-top: 1rem;
}